.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:  "Times New Roman";
  padding-top: 20px;
}

.spacing-top {
  padding-top: 40px;
}

.margin-top {
  margin-top: 40px;
}

.spacing-bot {
  padding-bottom: 40px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.right-side{
  float: right;
}

@media screen and (min-width: 767px) {
.text-center {
      margin-left: -38px;
      margin-right: auto;
}

.just {
  margin-left: -50px;
}
}
@media screen and (max-width: 767px) {
.text-center {
      margin-left: auto;
      margin-right: auto;
}

.just {
  margin-left: 0px;
}
}

.deleteknop {
  font-size: 20px;
  width: 31px;
  height: 41px;
  margin-bottom: 0px;
  z-index: 2;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: red;
}

.padding-remove {
  padding-left: 0px;
  padding-right: 0px;
}

.card-block{
  padding-right: 2px;
    padding-bottom: 0px;
}

.createbutton {
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  background-color: #31AA1D;
  border: 0px;
}

.createbutton:hover {
  background-color: ;
}

form{
  height: 0px;
  z-index: 50;
}
